.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  text-align: center;
  margin-top: 1%;
  margin-left: 42.5%;
  margin-right: 42.5%;
  padding: 6px;

  min-width: 140px;
  width: 15%;
  height: 350px;

  border: 0.5px solid black;
}

.button {
  text-align: center;
}
